<%- include('../components/Layout/Header.ejs'); %>

  <!-- Banner  -->
  <div class="banner" style="background-image: url(/images/banner-img-1.png)">
    <div class="banner__content">
      <div class="container">
        <div class="row g-3 justify-content-center">
          <div class="col-lg-10 text-center">
            <h2 class="mt-0 text--white">Vet Doctors</h2>
            <!-- Breadcrumbs  -->
            <ul class="list list--row breadcrumbs justify-content-center" style="--gap: 2rem">
              <li class="list--row__item breadcrumbs__item">
                <a href="index-2.html" class="t-link breadcrumbs__link text--white">
                  Home
                </a>
              </li>
              <li class="list--row__item breadcrumbs__item">
                <a href="contact.html" class="t-link breadcrumbs__link text--white">
                  Doctors
                </a>
              </li>
            </ul>
            <!-- Breadcrumbs End -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner End -->


  <!-- Zoo Gallery  -->
  <div class="section--sm section--top">
    <div class="section__head">
      <div class="container">
        <a href="/doctors/create" class="btn btn--md btn--base w-25 d-block mb-4 ms-auto">Add Doctor</a>
        <div class="row g-4">
          <div class="col-12">
            <% if(doctors.length > 0){ %>
            <div class="table-responsive--md">
              <table class="table custom--table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Ticket Details</th>
                    <th>Date</th>
                    <th>Total Fee</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i=0;i < doctors.length;i++){ %>
                    <tr id="row_<%= i %>">
                      <td doctors-label="Name">
                        <strong>
                          <%= doctors[i].name %>
                        </strong>
                      </td>
                      <td doctors-label="Ticket Details">
                        <%= doctors[i].licenseNumber %>
                      </td>
                      <td doctors-label="Date">
                        <%= doctors[i].specialization %>
                      </td>
                      <td doctors-label="Total Fee">
                        $<%= doctors[i].experience %>
                      </td>
                      <td doctors-label="Remove" class="text-center">
                        <a href="doctors/<%= doctors[i]._id %>" class="btn btn--sm btn--base"> Edit </a>
                        <button class="btn btn--sm btn--base"
                          onclick="removeRow(<%= i %>, '<%= doctors[i]._id %>')">Remove</button>
                      </td>
                    </tr>
                    <% } %>
                </tbody>
              </table>
            </div>
            <% }else{ %>
              <h2 class="section__title mt-0 text-center">
                <span>OOPS!</span>
                No doctors yet!
            </h2>
              <% } %>
          </div>
        </div>
      </div>
    </div>
    <% if(totalPages> 1){ %>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="mt-5">
              <ul class="pagination justify-content-center">
                <% if(currentPage !==1){ %>
                  <li class="page-item">
                    <a class="page-link" href="/doctors?page=<%= currentPage-1 %>" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <% } %>
                    <% for(let i=1;i<=totalPages;i++){%>
                      <li class="page-item"><a class="page-link <%= i === currentPage ? 'active-page' : '' %>"
                          href="/doctors?page=<%= i %>">
                          <%= i %>
                        </a></li>
                      <% } %>
                        <% if(currentPage !==totalPages){ %>
                          <li class="page-item">
                            <a class="page-link" href="/doctors?page=<%= currentPage+1 %>" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                          <% } %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <% } %>
  </div>
  <script>
    function removeRow(index, id) {
      const urlParams = new URLSearchParams(window.location.search);
      fetch(`/doctor/${id}`, {
        method: 'DELETE',
      }).then(response => {
        let totalRows = document.querySelectorAll('tbody tr').length;
        if (totalRows > 1) {
          window.location.reload();
        } else if (urlParams.has('page') && Number(urlParams.get('page')) > 1) {
          const currentPage = Number(urlParams.get('page'));
          window.location.href = `/doctors?page=${currentPage - 1}`;
        } else {
          window.location.reload();
        }
      })
        .catch(error => {
          console.error('Error:', error);
        })
    }
  </script>
    <%- include('../components/Layout/NewsLetter.ejs'); %>
      <%- include('../components/Layout/Footer.ejs'); %>