<%- include('./components/Layout/Header.ejs'); %>
    <!-- Banner  -->
<div class="banner" style="background-image: url(/images/banner-img-2.png)">
  <div class="banner__content">
    <div class="container">
      <div class="row g-3 justify-content-center">
        <div class="col-lg-10 text-center">
          <h2 class="mt-0 text--white">Animals</h2>
          <!-- Breadcrumbs  -->
          <ul
            class="list list--row breadcrumbs justify-content-center"
            style="--gap: 2rem"
          >
            <li class="list--row__item breadcrumbs__item">
              <a href="index-2.html" class="t-link breadcrumbs__link text--white">
                Home
              </a>
            </li>
            <li class="list--row__item breadcrumbs__item">
              <a
                href="contact.html"
                class="t-link breadcrumbs__link text--white"
              >
                Animal
              </a>
            </li>
          </ul>
          <!-- Breadcrumbs End -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner End -->

    <!-- Animal Gallery  -->
<div class="section--sm section--top">
    <div class="section__head">
      <div class="container">
        <div class="row g-4 justify-content-center">
          <div class="col-md-8 col-xl-6">
            <div class="text-center">
                <span class="section__particles">
                    <span class="section__subtitle section__subtitle-dash">Animals</span>
                </span>
              <h2 class="section__title">Our Zoo <span>Animals</span></h2>
              <p class="section__para mx-auto mb-0">
                Connect with our animals, then connect with a bigger mission. Learn more about how we work to enlighten people
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row g-4">
        <% for(let i=0;i<data.length;i++){ %>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="animal-card">
              <img
                src="<%= data[i].images[0] %>"
                alt="image"
                class="animal-card__img"
              />
              <div class="animal-card__body">
                <h5 class="mt-0 mb-2 text-center">
                  <a
                    href="/animal-detail/<%= data[i]._id %>"
                    class="t-link t-link--base heading-clr d-inline-block"
                  >
                    <%= data[i].animalName %>
                  </a>
                </h5>
                <span class="d-block sm-text text-center"> Fee : <%= data[i].totalFee %> PKR </span>
              </div>
            </div>
          </div>
          <% } %>
      </div>
    </div>
  </div>
  <% if(totalPages> 1){ %>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="mt-5">
            <ul class="pagination justify-content-center">
              <% if(currentPage !==1){ %>
                <li class="page-item">
                  <a class="page-link" href="/animals-list?page=<%= currentPage-1 %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <% } %>
                  <% for(let i=1;i<=totalPages;i++){%>
                    <li class="page-item"><a class="page-link <%= i === currentPage ? 'active-page' : '' %>"
                        href="/animals-list?page=<%= i %>">
                        <%= i %>
                      </a></li>
                    <% } %>
                      <% if(currentPage !==totalPages){ %>
                        <li class="page-item">
                          <a class="page-link" href="/animals-list?page=<%= currentPage+1 %>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                        <% } %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <% } %>
  <!-- Animal Gallery End -->
  
    <!-- Event Section  -->
<div class="section--sm">
    <div class="section event-section">
      <div class="container-fluid container-restricted">
        <div class="row g-4 align-items-center">
          <div class="col-lg-6">
            <ul
              class="list list--row flex-wrap event-image-group justify-content-center"
            >
              <li>
                <img
                  src="/images/event-img-1.png"
                  alt="image"
                  class="event-image"
                />
              </li>
              <li>
                <img
                  src="/images/event-img-2.png"
                  alt="image"
                  class="event-image"
                />
              </li>
              <li>
                <img
                  src="/images/event-img-3.png"
                  alt="image"
                  class="event-image"
                />
              </li>
              <li>
                <img
                  src="/images/event-img-4.png"
                  alt="image"
                  class="event-image"
                />
              </li>
              <li>
                <img
                  src="/images/event-img-5.png"
                  alt="image"
                  class="event-image"
                />
              </li>
              <li>
                <img
                  src="/images/event-img-6.png"
                  alt="image"
                  class="event-image"
                />
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <div class="event-section__content text-center text-lg-start">
              <div class="section__head">
                  <span class="section__particles">
                    <span class="section__subtitle text--white"> Upcoming </span>
                  </span>
                <h2 class="section__title text--white">
                    Our Upcoming Zoo  <span>Animals</span>
                </h2>
                <p class="section__para mx-auto ms-xl-0 text--white mb-0">
                  Urban animals are party animals. Plan your next unforgettable event with the Zoo as your backdrop.
                </p>
              </div>
              <div class="upcoming-slider">
                <div class="upcoming-slider__item">
                  <div class="upcoming-card">
                    <div class="upcoming-card__img">
                      <img src="/images/event-img-1.png" alt="image" class="upcoming-card__img-is">
                    </div>
                    <div class="upcoming-card__content">
                      <h5 class="upcoming-card__title">
                        Medina Deer
                      </h5>
                      <ul class="list">
                        <li>
                          <div class="d-flex justify-content-between gap-3">
                            <span class="text--white">
                              Class
                            </span>
                          
                            <span class="text--white">
                              Mammalia
                            </span>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex justify-content-between gap-3">
                            <span class="text--white">
                              Order   
                            </span>
                           
                            <span class="text--white">
                              Artiodactyla 
                            </span>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex justify-content-between gap-3">
                            <span class="text--white">
                              Family
                            </span>
                            
                            <span class="text--white">
                              Bovidae
                            </span>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex justify-content-between gap-3">
                            <span class="text--white">
                              Subfamily
                            </span>
                            
                            <span class="text--white">
                              Antiloinae
                            </span>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="upcoming-slider__item">
                  <div class="upcoming-card">
                    <div class="upcoming-card__img">
                      <img src="/images/event-img-2.png" alt="image" class="upcoming-card__img-is">
                    </div>
                    <div class="upcoming-card__content">
                      <h5 class="upcoming-card__title">
                        Medina Deer
                      </h5>
                      <ul class="list">
                        <li>
                          <div class="d-flex justify-content-between gap-3">
                            <span class="text--white">
                              Class
                            </span>
                          
                            <span class="text--white">
                              Mammalia
                            </span>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex justify-content-between gap-3">
                            <span class="text--white">
                              Order   
                            </span>
                           
                            <span class="text--white">
                              Artiodactyla 
                            </span>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex justify-content-between gap-3">
                            <span class="text--white">
                              Family
                            </span>
                            
                            <span class="text--white">
                              Bovidae
                            </span>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex justify-content-between gap-3">
                            <span class="text--white">
                              Subfamily
                            </span>
                            
                            <span class="text--white">
                              Antiloinae
                            </span>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="upcoming-slider__item">
                  <div class="upcoming-card">
                    <div class="upcoming-card__img">
                      <img src="/images/event-img-3.png" alt="image" class="upcoming-card__img-is">
                    </div>
                    <div class="upcoming-card__content">
                      <h5 class="upcoming-card__title">
                        Medina Deer
                      </h5>
                      <ul class="list">
                        <li>
                          <div class="d-flex justify-content-between gap-3">
                            <span class="text--white">
                              Class
                            </span>
                          
                            <span class="text--white">
                              Mammalia
                            </span>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex justify-content-between gap-3">
                            <span class="text--white">
                              Order   
                            </span>
                           
                            <span class="text--white">
                              Artiodactyla 
                            </span>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex justify-content-between gap-3">
                            <span class="text--white">
                              Family
                            </span>
                            
                            <span class="text--white">
                              Bovidae
                            </span>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex justify-content-between gap-3">
                            <span class="text--white">
                              Subfamily
                            </span>
                            
                            <span class="text--white">
                              Antiloinae
                            </span>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Event Section End -->
  <%- include('./components/Layout/ClientSection.ejs'); %>
  <%- include('./components/Layout/NewsLetter.ejs'); %>
    <%- include('./components/Layout/Footer.ejs'); %>